[Desktop Entry]
Type=Application
Name=iZiCodeEditor
Comment=Simple text editor
Exec=iZiCodeEditor %U
Icon=accessories-text-editor
Terminal=false
Categories=GNOME;GTK;Utility;TextEditor;WebDevelopment;
MimeType=text/plain;application/x-desktop;application/xml;application/x-shellscript
StartupNotify=true
